<div class="share-main">
  <div class="mm-content-wrapper" *ngIf="expense !== undefined">
    <div class="share-content-wrapper">
      <div class="d-flex share-conents">
        <h2>Share the expense</h2>
      </div>
      <div class="d-flex share-conents">
        <div class="lbl">Total</div>
        <div class="val-txt">{{expense.amount}}</div>
      </div>
      <div class="d-flex share-conents">
        <div class="lbl">Cretated on</div>
        <div class="val-txt">{{formatDate(expense.expenseTime)}}</div>
      </div>
      <div class="d-flex share-conents flex-column">
        <div class="d-flex flex-row">
          <div class="lbl">Share equally</div>
          <div class="rad-grp">
            <form [formGroup]="radioGroupForm">
              <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="equalShare">
                <label ngbButtonLabel [ngClass]="{'fade-btn': !isEqShareOn}" (click)="equalShareOn()"
                  class="btn-primary">
                  <input ngbButton type="radio" [value]="true">Yes
                </label>
                <label ngbButtonLabel [ngClass]="{'fade-btn': isEqShareOn}" (click)="equalShareOff()"
                  class="btn-primary">
                  <input ngbButton type="radio" [value]="false"> No
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="form-wrapper">
          <form [formGroup]="splitForm">
            <div class="form-group">
              <label for="friend">Split with</label>
              <select formControlName="friendId" class="form-control" id="friend" placeholder="Category">
                <option *ngFor="let friend of friends" [ngValue]="friend.userId">{{friend.userName}}
                </option>
              </select>
            </div>
            <div class="form-error-messages"
              *ngIf="splitForm.controls['friendId'].dirty && splitForm.controls['friendId'].invalid && splitForm.controls['friendId'].value == ''"
              id="error-no-email">
              You must select a friend
            </div>
            <ng-container *ngIf="this.splitForm.controls['friendId'].value !== ''">
              <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" formControlName="userShare" class="form-control" id="userShare"
                  aria-describedby="emailHelp" placeholder="Enter the amount">
                <small id="amtHelp" class="form-text text-muted">Your share</small>
              </div>
              <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" formControlName="friendShare" class="form-control" id="userShare"
                  aria-describedby="emailHelp" placeholder="Enter the amount">
                <small id="amtHelp" class="form-text text-muted">friend's share</small>
              </div>
            </ng-container>
            <div class="btn-wrapper">
              <button type="submit" [disabled]="!splitForm.valid" (click)="splitExpense()"
                class="btn btn-primary">Split</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="mm-content-wrapper" *ngIf="expense == undefined">
    <div class="">
      <div class="">No expense in queue to share</div>
      <div class="link" (click)="viewExpenses()">Pick one to proceed</div>
    </div>
  </div>
</div>
