.friends-contents {
  width: 100%;
  .friends-expense-list{
      max-width: 700px;
      margin: 0 auto;
  }
  .debt{
    font-size: 20px;
      color: #26c281;
  }
  .credit{
      font-size: 20px;
      color: #f03434;
  }
}
