


.login-main{
    .login-wrapper{
        max-width: 400px;
        width: 100%;
        margin: 50px auto;
        .forgot-links{
            margin-top: 18px;
            justify-content: space-around;
        }
    }
}