<div class="profile-main">
  <div class="mm-content-wrapper">
    <div class="d-flex">
      <table>
        <tr>
          <td>name</td>
          <td>{{user?.userName}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{user?.emailId}}</td>
        </tr>
        <tr>
          <td>Phone number</td>
          <td>{{user?.contactNumber}}</td>
        </tr>
        <tr>
          <td>Registered from</td>
          <td>{{user?.regDate}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
