.delete-expense-content{
    position: relative;
    .delete-link-wrapper{
        position: absolute;
        top: 5%;
        right: 10%;
        a{
            font-size: 22px;
            font-weight: 300;
            color: #f03434;
        }
    }
}